In [5]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [10]:
# 初始化数据库连接
# 用户名、密码、主机、端口、数据库名
engine = create_engine('mysql+pymysql://root:(/fxyg&Al2wJ@localhost:3306/competition', echo=False)

In [6]:
# 创建DBSession类型
DBSession = sessionmaker(bind=engine)

In [11]:
session = DBSession()

In [12]:
from typing import Optional
from sqlmodel import create_engine, Field, SQLModel
# mysql 的数据类型，为了和上面一样所以用 mysql 的数据类型
from sqlalchemy.dialects.mysql import BIGINT, VARCHAR

In [ ]:

class Test(SQLModel, table=True):
    id: Optional[int] = Field(BIGINT(19), primary_key=True)
    numeric_field: Optional[int]
    string_field: Optional[str] = Field(VARCHAR(256))


MYSQL_URL = 'mysql://root:123456@localhost:3306/test'
engine = create_engine(MYSQL_URL, echo=True)
SQLModel.metadata.create_all(engine)

In [1]:
import pandas as pd

In [3]:
pd.DataFrame([(1, 2, 3), (4, 5, 6)], columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6